@import "_title";
@import "_container";
@import "_partieXp";
@import "_mJake.scss";
@import "_partieProfil";

html {
    height: 100%;
}
#app {
    height: 100%;
}

body {
    background-image: url('../img/wall.jpg');
    background-color: #238196;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

@font-face {
    font-family: "font-title";
    src: url('../font/friday/Friday13SH.ttf')
  }

  @font-face {
      font-family: "isaac";
      src: url('../font/upheaval/upheavtt.ttf')
  }

  @font-face {
      font-family: "pixel";
      src: url('../font/pixelmix/pixelmix.ttf')
  }